
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlreadyExist</title>
</head>
<body>
    <h1>This email already exist, motherfucker. Wanna remember your pasword?</h1>
</body>
</html>
