<h1>Register Page</h1>

<form action="/Identity/Register" method="post">
    <input type="text" name="username" value="User Name" />
    <input type="text" name="password" value="Password" />
    <input type="text" name="mail" value="Email" />
    <button type="submit">Register</button>
</form>
