
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WrongEmail</title>
</head>
<body>
    <h2>Wrong email, motherfucker</h2>
</body>
</html>
